   .body-sidebar {
        
            width: 50px;
            
                background: #954646 !important;
                }
.page-container {
    background-color: cornsilk;
}
main-section {
    background-color: cornsilk;
}