        .body-sidebar {
        
            width: 50px;
            
                background: £954646 !important;
                }
              
:root, [data-theme=light] {
    --brand-color: var(--primary);
    --padding-xs: 5px;
    --padding-sm: 7px;
    --padding-md: 15px;
    --padding-lg: 20px;
    --padding-xl: 30px;
    --padding-2xl: 40px;
    --margin-xs: 5px;
    --margin-sm: 10px;
    --margin-md: 15px;
    --margin-lg: 20px;
    --margin-xl: 30px;
    --margin-2xl: 40px;
    --page-max-width: 900px;
    --modal-shadow: var(--shadow-md);
    --card-shadow: var(--shadow-sm);
    --btn-shadow: var(--shadow-xs);
    --navbar-height: 48px;
    --icon-fill: transparent;
    --icon-fill-bg: var(--fg-color);
    --icon-stroke: var(--gray-800);
    --bg-blue: var(--blue-100);
    --bg-light-blue: var(--blue-50);
    --bg-dark-blue: var(--blue-300);
    --bg-green: var(--green-100);
    --bg-yellow: var(--yellow-100);
    --bg-orange: var(--orange-100);
    --bg-red: var(--red-100);
    --bg-gray: var(--gray-100);
    --bg-grey: var(--gray-100);
    --bg-light-gray: #b16d6d;
    --bg-dark-gray: #9d4343;
}